<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input placeholder="Enter title" type="text" matInput name="title" ngModel required #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter post title</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea placeholder="Enter text" matInput rows="6" name="content" ngModel required #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
        </mat-form-field>
        <hr>
        <button type="submit" mat-raised-button color="accent">Create Post</button>
    </form>
    
    <hr>
    
</mat-card>
